# Segurança (obrigatório):
# Gere um valor aleatório grande. Ex: 64 chars.
AUTH_SECRET="troque-por-um-segredo-grande-aqui"

# Contato (opcional):
# Apenas dígitos com DDI. Ex: 5548999999999
NEXT_PUBLIC_WHATSAPP_NUMBER="5599999999999"

# URL do insta (opcional)
NEXT_PUBLIC_INSTAGRAM_URL="https://instagram.com/hummes"
