/* Garante que o body tenha a altura completa da página */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* altura da tela */
  background-image: url('assets/fundo_site_parte_1.png'), 
                    url('assets/fundo_site_parte_2.png'), 
                    url('assets/fundo_site_parte_3.png'); /* Altere para os nomes corretos das suas imagens */
  background-size: cover;
  background-position: center;
}

/* Centralizando o conteúdo */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  max-width: 1200px;
}

/* Ajustes para a seção Sobre mim */
#sobre-mim {
  width: 100%;
  margin: 20px 0;
}

/* Ajustes para a seção Projetos */
#projetos {
  width: 100%;
  margin: 20px 0;
}

/* Estilo do logo */
#logo {
  width: 150px;
  margin-bottom: 20px;
}

/* Seção de Contato */
#contato {
  width: 100%;
  margin: 20px 0;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: #0056b3;
}
